@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v49-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-v49-latin-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v49-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v49-latin-700.woff2') format('woff2');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Play-Regular.woff2') format('woff2'),
    url('../fonts/Play-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Play-Bold.woff2') format('woff2'),
    url('../fonts/Play-Bold.ttf') format('truetype');
}

:root {
  --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;
  --beauty-landing-2-s4: #ffd02b;

  --font-family: 'Roboto', sans-serif;
  --font4: 'Play', sans-serif;
  --third-family: 'Play', sans-serif;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  color: var(--beauty-landing-2-c1);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}
.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 24px;
}
.btn-main {
  border-radius: 32px;
  padding: 16px 32px;
  width: 219px;
  height: 53px;
  background: var(--beauty-landing-2-s2);
  font-weight: 600;
  color: var(--beauty-landing-2-background);
  border: none;
  cursor: pointer;
}
.btn-main:hover {
  background-color: transparent;
  border: 2px solid var(--beauty-landing-2-s2);
  color: var(--beauty-landing-2-c1);
}

.link {
  text-decoration: none;
  color: var(--beauty-landing-2-c1);
}
.link:hover {
  color: var(--beauty-landing-2-s2);
}
.section-title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: var(--beauty-landing-2-c1);
  margin-bottom: 48px;
}
/* --------------HEADER-------------------- */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 32px 0;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-grow: 1;
}
.header-menu-list {
  display: flex;
  gap: 56px;
  justify-content: center;
  flex-grow: 1;
}
.header-social-list {
  display: flex;
  gap: 32px;
}

/* ------------------HERO-------------------- */
.hero-section {
  padding: 16px 0 126px 106px;
  margin-bottom: 0;
}

.hero-title {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 140px;
  line-height: 81%;
  text-transform: capitalize;
  color: var(--beauty-landing-2-s2);
}
.accent {
  color: var(--beauty-landing-2-s2);
}

.about-us-title span {
  text-transform: capitalize;
}

/*----------------ABOUT US------------------- */
.about-us-container {
  display: flex;
  gap: 32px;
}
.about-us-container-text {
  max-width: 709px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-us-title {
  text-align: left;
  max-width: 529px;
}
.about-us-text {
  font-size: 22px;
  line-height: 173%;
}
.about-us-text-span {
  font-weight: 600;
  text-transform: capitalize;
}

/*------------------WHY US------------------- */
.why-us-text {
  line-height: 133%;
  text-align: center;
}
/*--------------OUR PROCEDURES--------------- */
.our-procedures-second-title {
  font-size: 22px;
  line-height: 118%;
  text-align: center;

  color: var(--beauty-landing-2-background);
  max-width: 152px;
  margin-bottom: 32px;
}
.our-procedures-list {
  display: flex;
  gap: 16px;
  /* flex-wrap: wrap; */
}
/* .our-procedures-item{
  flex-basis: calc(( - 32px) / 3); }  */

.our-procedures-card {
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/*-----------------CONTACTS------------------ */

.contacts-container- {
  display: flex;
  gap: 32px;
}
.contacts-container-form {
  border-radius: 32px;
  width: 423px;
  height: 481px;
  padding: 48px 0;
  background: var(--beauty-landing-2-c1);
}
.contacts-second-title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--beauty-landing-2-background);
  margin-bottom: 32px;
  max-width: 276px;
  margin: 0 auto;
}
.contacts-second-title span {
  color: var(--beauty-landing-2-s2);
}
/*------------------FOOTER------------------- */
.footer {
  background: var(--beauty-landing-2-c1);
}
.footer-container {
  display: flex;
  gap: 186px;
  padding: 56px 0;
}
.footer-nav {
  font-size: 16px;
  display: flex;
  gap: 186px;
}
.footer-nav-list {
}
.footer-link {
  color: var(--beauty-landing-2-background);
}
.footer-address-link {
  font-size: 16px;
  color: var(--beauty-landing-2-background);
  text-decoration: none;
}
.footer-address-link:hover {
  color: var(--beauty-landing-2-s2);
}
.footer-social-list {
  display: flex;
  gap: 24px;
}
.footer-address-copyright {
  font-size: 13px;
  color: var(--beauty-landing-2-s5);
}

/*------------------MODEL------------------- */
